*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @include respond(112.5em) {
    font-size: 75%; // 1 rem = 12, 12/16 = 75%
  }

  @include respond(75em) { // width < 1200px?
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(56.25em) { // width < 900px?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(56.25em) {
    padding: 0;
  }
}