<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="unauth-page-container">
    <form method="post" class="unauth-form u-card">
      <img src="{% static 'core/img/favicon.png' %}" alt="Logo" class="logo">
      <h1 class="heading-primary">Login</h1>
      <p class="text-secondary">Enter your account information below to login.</p>
      {% csrf_token %}
      {% if form.errors %}
        <div class="unauth-form__errors">
          {{ form.errors }}
        </div>
      {% endif %}
      {% for field in form %}
        {{ field }}
      {% endfor %}
      <a href="{% url 'password_reset' %}" class="blue-link">Forgot Password?</a>
      <button class="btn-primary u-margin-top-bottom-small">Login</button>
      <div class="alternative u-margin-top-bottom-small">
        <div class="alternative__line"></div>
        <div class="alternative__text">Don't Have an Account?</div>
        <div class="alternative__line"></div>
      </div>
      <a href="{% url 'signup' %}" role="button" class="btn-link-secondary">Signup</a>
    </form>
  </div>
{% endblock %}
