{% extends 'base.html' %}

{% block content %}
  <div class="unauth-page-container">
    <div class="u-card password-reset-message-container">
      <h1 class="heading-primary">Password Reset Complete</h1>
      <p class="text-secondary">Your new password has been set. You can log in with your new password.</p>
      <a href="{% url 'login' %}" role="button" class="btn-link-primary u-margin-top-bottom-small">Login</a>
    </div>
  </div>
{% endblock %}
