<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="unauth-page-container">
    {% if validlink %}
      <form method="post" class="unauth-form u-card">
        <h1 class="heading-primary">Set a new password!</h1>
        <p class="text-secondary">Enter you new password below and confirm it to reset your password.</p>
        {% csrf_token %}
        {% if form.errors %}
          <div class="unauth-form__errors">
            {{ form.errors }}
          </div>
        {% endif %}
        {% for field in form %}
          <div class="tooltip right" data-tooltip="{% for text in field.help_text %}{{ text }}&#xa;{% endfor %}">
            {{ field }}
          </div>
        {% endfor %}
        <button class="btn-primary">Change My Password</button>
      </form>

    {% else %}
      <div class="u-card password-reset-message-container">
        <h1 class="heading-primary">OOPS!</h1>
        <p class="text-secondary">The password reset link was invalid, possibly because it has already been used. Please
          request a new password
          reset.</p>
        <a href="{% url 'password_reset' %}" class="btn-link-primary">Get A New Password Reset Email</a>
      </div>


    {% endif %}
  </div>

{% endblock %}
