<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
  <div class="unauth-page-container">
    <div class="u-card password-reset-message-container">
      <h1 class="heading-primary">Email Sent!</h1>
      <p class="text-secondary">
        Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
      </p>
      <a href="{% url 'password_reset_done' %}" role="button" class="btn-link-primary u-margin-top-bottom-small">Back to Login</a>
    </div>
  </div>
  <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock %}
