<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <div class="unauth-page-container">
  <form method="post" class="unauth-form u-card">
    <h1 class="heading-primary">Trouble Logging In?</h1>
    <p class="text-secondary">Enter your email adn we'll send you a link to get back into your account.</p>
    {% csrf_token %}
    {% if form.errors %}
      <div class="unauth-form__errors">
      {{ form.errors }}
      </div>
    {% endif %}
  {% for field in form %}
    {{ field }}
  {% endfor %}
  <button class="btn-primary u-margin-top-bottom-small">Send Login Link</button>
  <div class="alternative u-margin-top-bottom-small">
        <div class="alternative__line"></div>
        <div class="alternative__text">OR</div>
        <div class="alternative__line"></div>
      </div>
  <a href="{% url 'login' %}" role="button" class="btn-link-secondary">Back to Login</a>
  </form>
  </div>
{% endblock %}
