<!-- templates/registration/signup.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="unauth-page-container">
    <form method="post" class="unauth-form u-card">
      <img src="{% static 'core/img/favicon.png' %}" alt="Logo" class="logo">
      <h1 class="heading-primary">Create An Account</h1>
      <p class="text-secondary">Enter your information below and create your account.</p>
      {% csrf_token %}
      {% if form.errors %}
        <div class="unauth-form__errors">
          {{ form.errors }}
        </div>
      {% endif %}
      {% for field in form %}
        <div class="tooltip right" data-tooltip="{% for text in field.help_text %}{{ text }}&#xa;{% endfor %}">
          {{ field }}
        </div>
      {% endfor %}
      <p class="text-secondary u-margin-top-bottom-small">
        By creating an account, you agree to the <a href="#" class="blue-link">Terms of Service.</a>
      </p>
      <button class="btn-primary">Create Account</button>
      <div class="alternative u-margin-top-bottom-small">
        <div class="alternative__line"></div>
        <div class="alternative__text">Already Have an Account?</div>
        <div class="alternative__line"></div>
      </div>
      <a href="{% url 'login' %}" role="button" class="btn-link-secondary">Login</a>
    </form>
  </div>
{% endblock %}
