<!-- templates/base.html -->
{% load manifest %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>Dank App</title>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap'
    rel='stylesheet'
  />
  {% manifest_match '*.css' '<link rel="stylesheet" href="{match}">' %}
</head>
<body>
<div class="container">
  {% block content %}
  {% endblock %}
  {% include 'footer.html' %}
</div>
</body>
</html>