<footer class="footer">
  <ul class="nav">
    <li class="nav__item">
      <a href="{% url 'login' %}" class="nav__link">Login</a>
    </li>
    <li class="nav__item">
      <a href="{% url 'signup' %}" class="nav__link">Signup</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">About</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Privacy</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Cookie</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Terms</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Contact</a>
    </li>
  </ul>
  <p class="copyright">&copy; Copyright 2021 by CodeDank INC.</p>
</footer>