<!-- templates/base.html -->
{% load manifest %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dank App</title>
    {% manifest_match '*.css' '<link rel="stylesheet" href="{match}">' %}
</head>
<body>
<div id="main">
  <div id="app">

  </div>
</div>
</body>
<script src="{% manifest 'app.js' %}"></script>
</html>