{% load static %}

<header class="header">
    <img src="{% static 'core/img/favicon.png' %}" alt="Logo" class="header__logo">
    <form class="search">
        <input type="text" class="search__input"
               placeholder="Search">
        <button class="search__button">
            <svg class="search__icon">
                <use xlink:href="{% static 'core/img/icons/sprite.svg' %}#icon-magnifying-glass"></use>
            </svg>
        </button>
    </form>

    <nav class="user-nav">
        <div class="user-nav__icon-box">
            <svg class="user-nav__icon">
                <use xlink:href="{% static 'core/img/icons/sprite.svg' %}#icon-bookmark"></use>
            </svg>
            <span class="user-nav__notification">7</span>
        </div>
        <div class="user-nav__user dropdown">
            <button class="dropdown__btn" id="dropdown-btn"></button>
            <div id="dropdown-content" class="dropdown__content u-hide">
                <div class="dropdown__header">
                  <img src="{% static 'core/img/default_prof_pic.png' %}" alt="Avatar" class="dropdown__avatar">
                  <div class="dropdown__user-details">
                    <p class="dropdown__username">Username</p>
                    <p class="dropdown__email">random@email.com</p>
                  </div>
                </div>
                <div class="dropdown__links">

                </div>
            </div>
        </div>
    </nav>
</header>